body {
  background-color: #0E2714;
  margin: 0;
  padding: 0;
}

header {
  background-color: #035500; 
  padding: 10px;
  border-bottom: 5px solid #000000; 
}

nav {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #a0a0a0;
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding: 0 10px;
  
}

nav a:hover {
  color: white;
}

h1, h2, p {
  color: white;
  text-align: center;
}

main {
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  
}

video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

footer {
  background-color: green;
  padding: 15px;
  text-align: center;
  color: white;
}

footer img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 6px solid rgb(105, 105, 105);
  
}

@media (max-width: 768px) {
  nav a {
      font-size: 1rem;
  }

  h1 {
      font-size: 1.5rem;
      padding: 10px;
  }

  video, img {
      margin: 10px;
  }
}

@media (max-width: 480px) {
  nav a {
      font-size: 0.9rem;
  }

  h1 {
      font-size: 1.2rem;
      padding: 5px;
  }

  video, img {
      margin: 5px;
  }
}

